/* CSS Resets */

body, h1, h2, p, ul {
	margin: 0px;
	font-size: 1.1em;
	font-family: lato;
	color: #FFF;
}
body{
	background-color: #000;

}
ul{
	list-style: none;
}
.clear{
	clear: both;
}



/* ---------- Typo */


/* ---------- Layout */
h1{
	font-size: 1.2em;
}
/* Sidebar */
.sidebar {
	border: solid 1px red;
	height: 600px;
	position: absolute;
	top: 10%;
}
.sidebar h1{
	color: #fffe00;
}
.work {
	margin : 40px 0 0 -40px;
}
.work h2, .info h2{
	margin-top: 5px;
}
.info {
	bottom: 0px;
	position: absolute;
}

.projects{
	margin-bottom: 10px;
	display: none;
}

.show{
	display: block;
}
/* main */
.main {
	border: solid 1px green;
	margin-top: 10%;
}







